.img-fixed {
	object-fit: cover;
	height: 110px;
	width: 100px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}
.col-4 {
    
    flex: 0 0 33.333333%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
    max-width: 33.333333%;
    
    
}

.col-lg-2 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}